 <div class="mainheader">
        <div class="logo">
            <img src="../public/css/images/logo2.png">
        </div>

        <nav>
            <a class="nav-link" href="/">home</a>
            <a class="nav-link" href="@">service</a>
            <a class="nav-link" href="/about">about</a>
            <a class="nav-link" href="@">contact</a>
        </nav>
        <div class="menubtn">
            <button>Helpline</button>
        </div>

    </div>